.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.is-hiden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;
  transform: translate(-50%, -50%), scale(1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #fff;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 280px;
    top: 55%;
    padding: 48px 20px;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 704px;

    padding-right: 72px;
    padding-left: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: 806px;

    padding: 40px 12px;
  }
}

.btn_close {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background-color: inherit;
}

.modal_box {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 481px) {
    display: flex;
  }
}
.img_box {
  margin: 0;
  display: contents;
}

.text-content_box {
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    margin-left: 68px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 16px;
  }
}
.modal_title {
  margin-bottom: 20px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
    line-height: 23px;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    font-size: 20px;
    line-height: 23px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}
.category_box {
  display: flex;
  margin-bottom: 20px;
  width: auto;
  justify-content: space-between;
}
.category_list,
.categiryApi_list {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 1200px) {
    margin-right: 81px;
  }
}
.category_item {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #8c8c8c;
  &:last-child {
    margin-bottom: 0;
  }
}
.slash {
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #8c8c8c;
}
.vote {
  background: #ff6b01;
  border-radius: 5px;
  color: #fff;
  padding: 1px 10px;
}
.category_span {
  color: #000000;
}
.categoryApi_item {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: calc(14 / 12);
  &:last-child {
    margin-bottom: 0;
  }
  color: #000000;
}
.about_title {
  font-size: 12px;
  line-height: calc(16 / 12);
  margin-bottom: 8px;
}
.about_text {
  font-size: 12px;
  line-height: calc(20 / 12);
  margin-top: 0px;
  margin-bottom: 20px;
}
.modal-box_btn {
  margin-left: 24px;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin: 0;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    margin-left: 15px;
  }
}
.watched_btn {
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  line-height: calc(16 / 12);

  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 110px;
    padding: 6px 27px;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 125px;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
    padding: 10px 8px 10px 8px;
  }
  text-transform: uppercase;
  &:hover {
    background-color: #ff6b01;
    color: #fff;
  }
}
.queue_btn {
  padding: 12px 8px 12px 8px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  line-height: calc(16 / 12);
  width: 136px;
  text-transform: uppercase;
  &:hover {
    background-color: #ff6b01;
    color: #fff;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 110px;
    padding: 13px 13px;
  }
  margin-left: 15px;
}

.modal_img {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 264px;
    height: 373.55px;
  }

  @media screen and (min-width: 1200px) {
    width: 375;
    height: 478;
  }
}

.treiler_iframe {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 264px;
    height: 373.55px;
  }

  @media screen and (min-width: 1200px) {
    width: 375;
    height: 478;
  }
}

.categiryApi_style--upercase {
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #000000;

  text-transform: uppercase;
}
.categiryApi_style {
  font-size: 12px;
  line-height: calc(16 / 12);
}

.scrollOFF {
  height: 100%;
  overflow: hidden;
}

.play_video {
  position: absolute;
  top: 50%;
  left: 15%;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.icon_play {
  fill: #ff6b01;
  &:hover {
    background: linear-gradient(
      50deg,
      #ff7300,
      #fffb00,
      #00ffd5,
      #7a00ff,
      #ff0000
    );
    fill: red;
  }
}

//

// .container_btn {
//   width: 100%;
//   text-align: center;
//   margin-top: 25vh;
// }

.circle {
  stroke: #ff6b01;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  // border: 1px solid red;
  display: inline-block;
  transition: all 0.5s ease;

  .triangle {
    transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #ff6b01;
    transform: translateY(0);
  }

  &:hover {
    .triangle {
      stroke-dashoffset: 0;
      opacity: 1;
      stroke: #ff6b01;
      animation: nudge 0.7s ease-in-out;

      @keyframes nudge {
        0% {
          transform: translateX(0);
        }
        30% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        70% {
          transform: translateX(-2px);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    .circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}
